@import './base/index';
@import './reset';

#root {
  // max-width: 1280px;
  // margin: 0 auto;
  min-height: 100vh;
}

::selection {
  color: white;
  background: $themeColor;
}

@include padding;
@include margin;
@include marginPercent;
@include fontSize;
@include textAlign;
@include color;

.flex-row {
  @include flex(row);
}

.flex1 {
  flex: 1;
}

.center-both {
  @include centerByPosition;
}

.loading-wrapper {
  $width: 60;

  @include centerByPosition;
  @include square($width);

  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  padding: rem(5);
  line-height: rem($width);

  // background: rgb(0 0 0 / 20%);
  border-radius: rem(4);
}

.hide {
  display: none !important;
}

/* 
button {
  font-size: 18px;
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  background: #eee;

  &:hover {
    background: #ddd;
  }
} */

input {
  margin: 0 5px;
  padding: 0 5px;
  font-size: 15px;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;

  &:focus {
    border-color: darkgoldenrod;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

.ant-input-prefix {
  color: #ccc;
}

.page {
  display: flex;
  flex: 1;
  flex-direction: column;

  .page-main {
    margin-top: 10%;
  }
}

h1 {
  margin: 0;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
}

.app,
.app-layout {
  // min-width: 1000px;
  min-height: 100vh;

  .ant-form label {
    align-items: center;
  }
}

.app-main-wrap {
  display: flex;
  flex: 0;
  flex-direction: column;
  padding: 0 50px;
}

.page .page-main {
  .main-card {
    // width: 800px;
    width: 500px;
  }
}

@media only screen and (width <=600px) {
  .app-main-wrap {
    padding: 0;
  }

  .ant-layout-footer {
    padding: 20px;
  }

  .page .page-main {
    margin-top: 0;
  }
}
